{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {%block content%}
    <br>
    <br>
    <center>
    <a href="https://www.facebook.com/profile.php?id=100013021500313&ref=br_tf&epa=SEARCH_BOX"><button type="button" class="btn btn-primary"><i class="facebook-f">Connect Developer</i></button></a>
    <a href="https://github.com/KarimGil/DJANGO-To-Do-APP"><button type="button" class="btn btn-dark"><i class="github-alt">Get Source Code</i></button></a>

    </center>
    {% endblock %}
</body>
</html>