{% extends 'base.html' %}
    {%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {%block content%}
    {% if item %}
    
    <form class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="{{item.item}}" value="{{item.item}}" aria-label="Search" name="item">
        <input type="hidden" value="{{item.completed}}" name="completed">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-success" type="submit">Edit Task</button>
    </form>
    {% endif %}
    {% endblock%}
</body>
</html>