.striker {
        text-decoration: line-through;
}
.bg-nav {
        background-color: #26de81 !important;
}
.btn-nav {
        background-color: #78e08f;
}
.btn-delete {
        background-color: #78e08f;
}
